@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root{
    --redorange: #FF6347;
    --red: #C62B27;
    --black: #222327;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: 2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);


}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

li {
    list-style: none;
    
}



/* Navbar Start */

header {
    min-width: 100vw;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo .image {
    width: 60px;
    padding: 8px;
}

.navbar .logo .image img {
    width: 100%;
}

.navbar .logo span {
    font-size: 20px;
    font-weight: 900;
    color: var(--redorange);
}

.navbar ul {
    display: flex;
    position: relative;
}

.navbar ul .nav-indicator {
    
    position: absolute;
    bottom: 0;
    height: 5px;
    background-color: var(--redorange);
}


.navbar ul li {
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 700;
}

.navbar ul li:nth-child(1).active ~ .nav-indicator {
    width: 80px;
}

.navbar ul li a {
    color: var(--redorange);
}

.navbar .icons {
    display: flex;
    font-size: 20px;
    gap: 10px;
}

.navbar .icons i {
    color: var(--redorange);
    padding: 10px;
    border-radius: 5px;
}

.navbar .icons i:hover {
    background-color: var(--redorange);
    color: #fff;
}

.navbar .ph {
    display: none;
}

.navbar .ph i {
    color: var(--redorange);
    font-size: 20px;
    padding: 4px;
}

.navbar .ph a {
    font-size: 14px;
    color: var(--red);
}


/* Navbar End */

/* Home Start */

.home .swiper {
    margin-bottom: 20px;
    height: 80vh;
}

.home .swiper-slide {
    width: 100vw;
    
    background-image: url(image/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home .slider {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.home .slider .contact h3 {
    font-size: 20px;
    font-weight: 400;
}

.home .slider .contact span {
    display: block;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

.home .slider .contact .btn {
    padding: 10px 18px;
    border-radius: 20px;
    background-color: var(--redorange);
}

.home .slider .contact .btn:hover {
    background-color: var(--red);
}

.home .slider .image {
    width: 400px;
}

.home .slider .image img {
    width: 100%;
}

/* Home End */

/* Banner Start */

.banner {
    margin-bottom: 25px;
}

.banner .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.banner .container .card {
    max-width: 350px;
    position: relative;
}

.banner .container .card .image {
    overflow: hidden;
}

.banner .container .card:hover img {
    overflow: hidden;
    transform: scale(1.1);
}

.banner .container .card .contact {
    padding: 0 20px;
    position: absolute;
    top: 40%;
}

.banner .container .card .contact h3 {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 6px;
}

.banner .container .card .contact p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}


/* Banner End */

/* Footer Start */
footer {
    background-color: #f3f3f3;
}

footer .container {
    align-items: center;
}

footer .container .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

footer .container .links ul {
    width: 150px;
    
}

footer .container .links ul li {
    margin-bottom: 15px;
}

footer .container .links ul li h4 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .links ul li i {
    color: var(--redorange);
    font-size: 12px;
    padding-right: 10px;
}

footer .container .links ul li a {
    font-size: 12px;
}

footer .container .links ul li:hover a {
    color: var(--redorange);
    padding-left: 20px;
}

footer .container .news {
    width: 150px;
    padding: 20px;
}

footer .container .news h4 {
    font-size: 22px;
    font-weight: 500;
}

footer .container .news p {
    font-size: 10px;
    margin-bottom: 10px;
}

footer .container .news input {
    display: block;
    width: 150px;
    margin-bottom: 20px;
    padding: 10px;
}

footer .credit {
    background-color: #bac34e;
    text-align: center;
    padding: 20px 0;
}

footer .credit span {
    font-size: 20px;
}

/* Footer End */



/* Navigation Start */
.navigation {
    width: 100vw;
    height: 70px;
    margin: auto;
    background-color: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

.navigation ul {
    display: flex;
    width: 350px;
    position: relative;
}

.navigation ul li {
    list-style: none;
    position: relative;
    width: 70px;
    height: 60px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 25px;
    transition: .5s;
    color: var(--black);
}

.navigation ul li.active a .icon {
    transform: translateY(-33px);
    color: var(--redorange);
}

.navigation ul li a .text {
    position: absolute;
    background: var(--redorange);
    color: #fff;
    padding: 2px 7px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    transition: .5s;
    opacity: 0;
    transform: translateY(15px);
}

.navigation ul li.active a .text {
    transform: translateY(-4px);
    opacity: 1;
}

.indicator {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    z-index: -1;
    transition: .5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 18px #fff;
}

.indicator::after {
    content: '';
    position: absolute;
    top: 5px;
    right: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 18px #fff;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
    
}



.home-container .show {
    display: none;
}

.home-container .home.active {
    display: block;
}

.home-container .profile.active {
    display: block;
}

.home-container .message.active {
    display: block;
}

.home-container .photos.active {
    display: block;
}

.home-container .setting.active {
    display: block;
}


/* Navigation End */























@media (max-width:991px) {
    .navbar ul {
        display: none;
    }
}

@media (max-width:768px) {

    .menu-bar {
        display: flex;
        position: fixed;
        bottom: 0;
        z-index: 1000;
    }

    
    
}

@media (max-width:587px) {

    .navigation {
        display: flex;
    }

    .navbar {
        justify-content: space-between;
        padding: 0 10px;
    }

    .navbar .icons {
        display: none;
    }

    .navbar .ph {
        display: flex;
        align-items: center;
    }

    footer {
        margin-bottom: 80px;
    }

    footer .credit span {
        font-size: 10px;
    }

    footer .container .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        padding: 20px;
    }
}






